
body {
    background-color: #184E77;
    font-family: "Lilita One";
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    padding-top: 30px;
    padding-bottom: 100px;
}
#title {
    font-size: 50px;
    color: #D9ED92;
}

main {
    display: flex;
    gap: 25px;

    
}

#user-utilities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #1E6091;
    padding: 10px;
    color: #D9ED92;
    border-radius: 3px;
}

.user-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #D9ED92;
    padding: 10px 20px;
    color: #D9ED92;
}

button:hover {
    cursor: pointer;
}


.container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 10px solid #1E6091;
    background-color: rgb(112, 111, 111);
    border-radius: 3px;
}


input[type="range"] {
    -webkit-appearance: none;
    background-color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    background: #D9ED92;
    border: 1px solid #184E77;
    border-radius: 25px;
} 

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background:#D9ED92;
}

input[type="color"]{
    -webkit-appearance: none;
    border: none;
    width: 200px;
    background-color: transparent;
    align-self: flex-start;
    margin: 10px;
    margin-left: 0px;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;

}
  
input[type='color']::-webkit-color-swatch {
    border: 2px solid #D9ED92;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#reset {
    align-self: flex-start;
}
